.dashboard{
    display:flex;


    .sidebarContainer{
        flex:1;
    }

    .dashboardContainer{
        flex:7;

        .navbarContainer{
            flex:1;
        }
        .dataContainer{
            flex:6;
        }
    }

    

    
}