.sidebar{
    width: 281px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--primary-color);
    padding: 0px 30px;
}

.sidebar__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 0.1px;

}

.title{
    display:flex;
    align-items: center;
    column-gap: 0.35rem;
    color: white; 
    font-size: 34px;
    font-weight: 1000 !important;
   
}

.logo img{
    width: 70px;
    height: 70px;
    border-radius: 10%;
    display: flex;
    margin-right: 2px;
}


.profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    object-fit: cover;
    margin-left: 25px;
}

.profile h3{
    color: #fff;
    font-size: 35px;
    margin-left: 20px;
}


.sidebar__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
}

.menu{
    height: 80%;
}


.sidebar__bottom {
    height: 20%;
}

.nav__link, 
.sidebar__bottom span{
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.sidebar__bottom span{
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;

}

.sidebar__bottom span i{
    color: white;
}

.nav__list{
    display: flex;
    row-gap: 2.5rem ;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.nav__link i {
    color: var(--secondary-color);
}

.nav__active{
    color: rgb(78, 98, 223);
    background: #b7ffe913;
    padding: 6px;
    border-radius: 5px;
    ;

}
