/*CSS styles for the sidebar component*/

/*Set the width, height, position and background of the sidebar*/
.sidebar{
    width: 281px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--primary-color);
    padding: 0px 30px;
}

/*Style for the top section of the sidebar*/
.sidebar__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 0.1px;

}

/*Styles for the title of the sidebar*/
.title{
    display:flex;
    align-items: center;
    column-gap: 0.35rem;
    color: var(--font-color); 
    font-size: 34px;
    font-weight: 1000 !important;
   
}

/*Styles for the logo image*/
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 10%;
    display: flex;
    margin-right: 2px;
}

/*Styles for the profile image*/
.profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    object-fit: cover;
    margin-left: 25px;
}

/*Styles for the profile name*/
.profile h3{
    color: var(--font-color);
    font-size: 35px;
    margin-left: 20px;
}

/*Styles for the sidebar content*/
.sidebar__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
}

/*Styles for the menu items*/
.menu{
    height: 80%;
}

/*Styles for the bottom section of the sidebar*/
.sidebar__bottom {
    height: 20%;
}

/*Styles for the navigation links and the span elements*/
.nav__link, 
.sidebar__bottom span{
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

/* Styles for the span element in the bottom section of the sidebar */
.sidebar__bottom span{
    color: var(--font-color);
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;

}

/* Styles for the icon in the span element in the bottom section of the sidebar */
.sidebar__bottom span i{
    color: var(--font-color);
}

/* Styles for the navigation list */
.nav__list{
    display: flex;
    row-gap: 2.5rem ;
    flex-direction: column;
    color: var(--font-color);
    font-size: 20px;
}

/* Styles for the icon in the navigation links */
.nav__link i {
    color: var(--font-color);
}

/* Styles for the active navigation link */
.nav__active{
    color: rgb(78, 98, 223);
    background: #b7ffe913;
    padding: 6px;
    border-radius: 5px;
    ;

}
   


