.deliveries{
    display:flex;
    flex:6;

    .sidebarContainer{
        flex:1;
    }

    .deliveryContainer{
        flex:5;

        .navbarContainer{
            
            
        }
        .deliveryTableArea{
            
            
        }
    }

}