.deliveries{
    display:flex;
    

    .sidebarContainer{
        flex:1;
    }

    .deliveryContainer{
       flex:7;

        .navbarContainer{
            
            flex:1;
        }
        .deliveryTableArea{
            flex:6;
            
        }
    }

}