.deliveries{
    display:flex;
    

    .sidebarContainer{
        flex:1;
    }

    .deliveryContainer{
        
       flex:7;
       
        .navbarContainer{
            flex:1;
            
        }

        .deliveryDateContainer{
            flex:6;
           

        }
        .deliveryTableArea{
            
            
        }

        .deliveryInvoiceContainer{
            
         border:1px solid black;
         
        }
    }

}