.mapBox{
    border: 3px solid black;
    padding: 15rem;
    // padding:200px;
    // padding-left:350px;
    // padding-right:350px;
    display: flex;
    border-radius:1rem;
    justify-content: center;
    align-items: center;
}