.mapBox{
    border: 3px solid black;
    padding: 15rem;
    padding-right:20rem;
    padding-left:20rem;
    display: flex;
    border-radius:1rem;
    justify-content: center;
    align-items: center;

    
}